.listContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--themeSecondary);
  padding: 0.5rem;
}

.listGroup {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.listGroup::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
.listGroup::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.listGroup::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}
.listGroup::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}

.search {
  margin-bottom: 5px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: lightgray;
  background-color: var(--themePrimary);
  background-clip: padding-box;
  border: 1px solid var(--themePrimary);
  border-radius: var(--borderRadius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.search:focus,
.search:hover {
  border-color: var(--themeTertiary);
  box-shadow: 0 0 0 3px var(--themeAccent);
}

.searchContainer {
  display: flex;
}

.searchIcon {
  height: 25px;
  color: lightgray;
}

.optionBtnGroup {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

svg {
  color: lightgrey;
  cursor: pointer;
}

.optionBtns {
  height: 1.35em;
}

.deleteBtn:hover {
  filter: drop-shadow(0 0 5px #b01617);
}

.optionBtns:hover {
  filter: drop-shadow(0 0 5px #5416b0);
}

.optionBtnDeactivated {
  color: grey;
  cursor: default;
}
